@media(min-width:992px){

    
    /* header */
    * {
        margin: 0px;
        padding: 0px;
    }

    .header {
        width: 100%;
    }

    .header .left {
        width: 30%;
    }

    .header .left img {

        height: 21px;
        padding-right: 50px;
        margin-top: 19px;

    }

    .header .right {
        width: 79%;

    }

    .header .right ul {
        width: 79%;
        margin-bottom: 0px;
        margin-top: 0px;
        padding-top: 20px;

    }

    /* ........................................drop 1...................... */

    .header .drop1 {
        position: relative;
    }

    .header .d1 {
        top: 40px;
        left: 0%;
        width: 99px;
        height: 123px;
        padding-left: 0px;
        z-index: 1;

    }


    .header .d1 ul {
        display: block;
        width: 100%;
        padding-left: 0px;
        text-align: left;
        padding-top: 0px;


    }

    /* ...................................Drop2.......................................... */

    .header .drop2 {
        position: relative;
    }

    .header .d2 {
        position: absolute;
        top: 40px;
        display: none;
        width: 99px;
        height: 123px;
        padding-left: 0px;
        z-index: 1;

    }


    .header .d2 ul {
        display: block;
        width: 100%;
        padding-left: 0px;
        text-align: left;
        padding-top: 0px;

    }

    /* .......................................drop d 3............................ */

    .header .d3 {
        top: 36px;
        left: -450px;
        width: 850px;
        height: 300px;

    }

    .header .d3 .parth {

        display: flex;
        width: 100%;
    }

    .header .d3 .parth h3 {

        text-align: left;
        margin-top: 0%;
        height: 20px;
        width: 100px;


    }

    .header .d3 .parth ul li {
        width: 95%;
        display: block;
        text-align: left;
        padding: 10px 0px;
        padding-left: 0;

    }

    .header .d3 .parth .s1 {
        display: flex;
        flex-direction: column;
        width: 28%;
        margin-top: 5px;
        padding-top: 25px;
        padding-left: 10px;


    }

    .header .d3 .parth .s1 h3,
    .header .d3 .parth .s3 h3 {
        padding-bottom: 20px;
        height: 15px;

    }

    .header .d3 .parth .s2 {

        width: 28%;
        margin-top: 5px;
        padding-top: 28px;
        padding-left: 10px;


    }

    .header .d3 .parth .s3,
    .header .d3 .parth .s4 {

        width: 20%;
        padding-top: 25px;
        padding-left: 10px;
        margin-right: 10px;


    }

    /* ......................................drop4................................ */

    .header .d4 .sections {
        position: absolute;
        top: 35px;
        right: -150%;
        width: 890px;
        height: 350px;
        display: flex;

    }

    .header .d4 .sections ul li {
        width: 95%;
        display: block;
        text-align: left;
        padding: 9px 0px;
        padding-left: 0;

    }


    /* ................................................................................................................................. */




    .header .right ul li a {
        text-decoration: none;
        color: rgb(212, 212, 212);
        font-size: 14px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        padding: 22px 15px 27px 15px;
        text-align: center;
        /* border: 2px solid red; */

    }

    .header .right .find {
        font-size: 18px;
        margin: -22px 0px 0px 40px;
        padding: 20px 20px 0px 20px;

    }


    .header .right .user {
        padding: 9px 11px;
        border-radius: 50%;
        margin-top: -10px;
        margin-bottom: 10px;

    }



    
}