@media(min-width:992px){

    
    
    /* header  */
    .header{
    
        width: 100%;
        display: flex;
        justify-content: space-between;
        /* border: 2px solid; */
        background-color: red;
    
    }
    .header .left {
        width: 30%;
    
    }
    
    .header .left h1 {
         font-size: 50px;
         margin: 10px;
    
    }
    .header .left h1 i{
        font-size: 40px;
    }
    
    .header .right {
        /* border: 1px solid; */
        width: 70%;
        display: flex;
        justify-content: end;
    
    }
    .header .right ul {
      list-style: none;
      display: flex;
      flex-direction: unset;
      margin: 0px 0px 0px 0px;
    }

    #plus{
        display: none;
    }
    .header .right ul li {
        
        margin: 30px 20px 0px 20px;
        }
    .header .right ul a {
        margin: 0px 20px;
        font-size: 20px;
        color: antiquewhite;
      text-decoration: none;
      }
}
