/* header */
* {
    margin: 0px;
    padding: 0px;
}

.header {
    display: flex;
    width: 100%;
    flex-direction: unset;
    justify-content: center;
    color: whitesmoke;
    background-color: rgb(15, 15, 15);
}

.header .left {
    width: 30%;
}

.header .left img {

    justify-content: right;
    height: 23px;
    float: right;
    padding-right: 50px;
    margin-top: 19px;

}

.header .right {
    width: 79%;

}

.header .right ul {
    list-style: none;
    display: flex;
    width: 79%;
    text-align: end;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 20px;

}

.header .right ul li a {
    margin: 0px;
    padding: 0px;

}



/* ........................................drop 1...................... */

.header .drop1 {
    position: relative;
}

.header .d1 {
    position: absolute;
    top: 41px;
    left: 0%;
    display: none;
    width: 99px;
    height: 123px;
    border-radius: 0px 0px 10% 10%;
    padding-left: 0px;
    z-index: 1;
    background-color: rgb(29, 29, 29);



}



.header .d1 ul {
    display: block;
    width: 100%;
    padding-left: 0px;
    text-align: left;
    padding-top: 0px;


}

.header .d1 ul li {
    width: 95%;
    text-align: left;
    margin-top: 0px;
    padding: 10px 0px;
    /* border: 1px solid red; */

}


.header .drop1:hover .d1 {
    display: block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.header .d1 ul li:hover {
    color: rgb(26, 26, 26);
    width: 100%;
    background-color: white;
    border-radius: 0px 0px 10% 10%;

}

/* ............................................................................. */

.header .drop2 {
    position: relative;
}

.header .d2 {
    position: absolute;
    top: 41px;
    display: none;
    width: 99px;
    height: 123px;
    border-radius: 0px 0px 10% 10%;
    padding-left: 0px;
    z-index: 1;
    background-color: rgb(29, 29, 29);

}


.header .d2 ul {
    display: block;
    width: 100%;
    padding-left: 0px;
    text-align: left;
    padding-top: 0px;



}

.header .d2 ul li {
    width: 95%;
    text-align: left;
    margin-top: 0px;
    padding: 10px 0px;

}

.header .drop2:hover .d2 {
    display: block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.header .d2 ul li:hover {
    color: rgb(26, 26, 26);
    width: 100%;
    background-color: white;
    border-radius: 0px 0px 10% 10%;

}


/* .......................................drop d 3............................ */










.header .drop3 {
    position: relative;

}

.header .d3 {
    position: absolute;
    top: 41px;
    left: -500px;
    width: 990px;
    height: 350px;
    border-radius: 0px 0px 10px 10px;
    z-index: 1;
    background-color: rgb(29, 29, 29);
    display: none;

}

.header .d3 .parth {

    display: flex;
    width: 100%;
}

.header .drop3:hover .d3 {
    display: block;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */

}

.header .d3 ul li:hover {
    width: 75%;
    background-color: white;
    border-radius: 0px 0px 10% 10%;

}

.header .d3 ul li:hover a {
    color: black;

}

.header .d3 .parth h3 {

    color: white;
    text-align: left;
    margin-top: 0%;
    height: 20px;
    width: 100px;


}

.header .d3 .parth ul li {
    width: 95%;
    display: block;
    text-align: left;
    padding: 10px 0px;
    padding-left: 0;

}

.header .d3 .parth .s1 {
    display: flex;
    flex-direction: column;
    width: 28%;
    margin-top: 5px;
    padding-top: 35px;
    padding-left: 15px;


}

.header .d3 .parth .s1 h3,
.header .d3 .parth .s3 h3 {
    padding-bottom: 20px;
    height: 15px;

}

.header .d3 .parth .s2 {
    display: flex;
    flex-direction: column;
    width: 28%;
    margin-top: 5px;
    padding-top: 38px;
    padding-left: 15px;


}

.header .d3 .parth .s3,
.header .d3 .parth .s4 {
    display: flex;
    flex-direction: column;
    width: 20%;
    padding-top: 35px;
    padding-left: 15px;
    margin-right: 10px;


}

.header .d3 .parth .s2,
.header .d3 .parth .s4 {

    margin-top: 40px;

}


.header .d3 .sections .s1 li,
.header .d3 .sections .s2 li {
    width: 100%;
}

.header .d3 .sections .s1 li a,
.header .d3 .sections .s2 li a {
    width: 100%;
}




/* ................................ */


.header .drop4 {
    position: relative;

}

.header .d4 {
    display: none;


}

.header .d4 .sections {
    position: absolute;
    top: 41px;
    right: -250%;
    width: 990px;
    height: 360px;
    border-radius: 0px 0px 10px 10px;
    z-index: 1;
    background-color: rgb(29, 29, 29);
    display: flex;
    /* justify-content: center; */



}

.header .d4 .sections ul li {
    width: 95%;
    display: block;
    text-align: left;
    padding: 9px 0px;
    padding-left: 0;

}

.header .d4 .sections .s1,
.header .d4 .sections .s2,
.header .d4 .sections .s3,
.header .d4 .sections .s4 {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding-left: 29px;
    /* padding-left: 15px; */

}

.header .drop4:hover .d4 {
    display: block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.header .d4 ul li:hover {
    width: 95%;
    background-color: white;
    color: rgb(219, 0, 0);
    border-radius: 0px 0px 10% 10%;

}

.header .d4 ul li:hover a {
    color: black;

}



/* ................................................................................................................................. */



.header .right ul li a {
    text-decoration: none;
    color: rgb(212, 212, 212);
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 22px 15px 27px 15px;
    text-align: center;
    /* border: 2px solid red; */

}

.header .right .main:hover {
    color: white;
    background-color: rgb(29, 29, 29);
    height: 100%;
    /* transition: color .2s ease-in-out; */


}

.header .right .find {
    font-size: 20px;
    margin: -22px 0px 0px 40px;
    padding: 20px 20px 0px 20px;

}

.header .right .find:hover {
    font-size: 20px;
    margin: -22px 0px 0px 40px;
    padding: 20px 20px 0px 20px;
}

.header .right .user {
    padding: 13px 15px;
    background-color: rgb(61, 93, 112);
    border-radius: 50%;
    margin-top: -10px;
    margin-bottom: 10px;
    transition: color .2s ease-in-out;

}





/* ............................ section 1 ......................... */

.section1 .img {
    position: relative;
}

.section1 img {
    width: 100%;
    height: 90%;
}

.section1 .text {
    position: absolute;
    top: 7.5%;
    /* height:800px ; */
    width: 830px;
    color: white;
    font-family: 'Verdana';
    /* background-color: rgb(0, 0, 0); */

}

.section1 .text h1 {
    font-size: 40PX;
    width: 90%;
    padding-top: 50px;
    padding-bottom: 30px;
    margin-left: 10%;
    /* border: 2px solid red; */
    margin-right: 10%;
    font-weight: 10;

}

.section1 .text p {
    font-size: 20PX;
    width: 90%;
    padding: 20px 0px 10px 0px;
    /* padding-left: 15%; */
    margin-left: 10%;
    margin-right: 10%;
    /* border: 2px solid red; */


}

.section1 .text button {
    background-color: rgb(48, 131, 163);
    color: white;
    border: none;
    padding: 20PX 55PX;
    margin-left: 10%;
    border-radius: 5px;

    /* border: 2px solid red; */


}
.section1 .text button:hover {
    background-color: rgb(52, 149, 187);
    cursor: pointer;
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    

}


/* ....................... end............................................ */





/* ............................ section 2 ......................... */
.section2 {
    margin-top: -5px;
}

.section2 .img {
    position: relative;
}

.section2 img {
    width: 100%;
    /* height: 650px; */
}

.section2 .text {
    position: absolute;
    top: 130%;
    /* height:800px ; */
    /* width: 700px; */
    color: white;
    font-family: 'Verdana';
    display: inline;
    /* background-color: rgb(0, 0, 0); */
    margin-left: 55%;


}


.section2 .text h1 {
    font-size: 40PX;
    /* width: 60%; */
    padding-top: 0px;
    padding-bottom: 0px;
    margin-left: 0%;
    /* border: 2px solid red; */
    margin-right: 0%;
    font-weight: 10;

}

.section2 .text p {
    color: white;
    font-size: 20PX;
    /* width: 90%; */
    padding: 20px 0px 10px 0px;
    /* padding-left: 15%; */
    /* margin-left: 10%;
    margin-right: 10%; */
    /* border: 2px solid red; */


}

.section2 .text button {
    background-color: rgb(48, 131, 163);
    color: white;
    border: none;
    padding: 20PX 80PX;
    margin-top: 50px;
    border-radius: 5px;

    /* border: 2px solid red; */


}
.section2 .text button:hover {
    background-color: rgb(52, 149, 187);
    cursor: pointer;
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    

}

/* ....................... end............................................ */






/* ............................ section 3 ......................... */
.section3 {
    display: flex;

}

.section3 .left {
    width: 50%;
}

.section3 .right {
    width: 49%;
}

.section3 .left .text {
    font-family: 'Verdana';
}

.section3 .left .text h1 {
    font-size: 40PX;
    width: 82%;
    padding-top: 50px;
    padding-bottom: 30px;
    margin-left: 10%;
    font-weight: 10;
    /* border: 2px solid red; */

}

.section3 .left .text p {
    font-size: 20PX;
    width: 78%;
    padding: 20px 0px 10px 0px;
    margin-left: 10%;
    margin-right: 10%;
    /* border: 2px solid red; */

}


.section3 .right {
    width: 49%;}

.section3 .right .box img {
    height: 180px;
    transition: transform 0.2s;
}

.section3 .right .box :hover {
    box-shadow: 0 0 5px 2px black;
    transform: scale(1.01);
    cursor: pointer;
}

/* ............................ section 4 ......................... */


.section4 .img {
    position: relative;
}

.section4 img {
    width: 100%;
    /* height: 650px; */
}

.section4 .text {
    position: absolute;
    top: 280%;
    /* height:800px ; */
    /* width: 700px; */
    color: white;
    font-family: 'Verdana';
    display: inline;
    /* background-color: rgb(0, 0, 0); */
    margin-left: 55%;


}


.section4 .text h1 {
    font-size: 40PX;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-left: 0%;
    /* border: 2px solid red; */
    margin-right: 0%;
    font-weight: 10;

}

.section4 .text p {
    color: white;
    font-size: 20PX;
    /* width: 90%; */
    padding: 20px 0px 10px 0px;
    /* padding-left: 15%; */
    /* margin-left: 10%;
    margin-right: 10%; */
    /* border: 2px solid red; */


}

.section4 .text button {
    background-color: rgb(48, 131, 163);
    color: white;
    border: none;
    padding: 20PX 80PX;
    margin-top: 50px;
    border-radius: 5px;

    /* border: 2px solid red; */


}

.section4 .text button:hover {
    background-color: rgb(52, 149, 187);
    cursor: pointer;
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    

}

/* ....................... end............................................ */




/* ............................ section 5 ......................... */

.section5 .img {
    position: relative;
    margin-top: -13%;
    /* height: 700px; */
}

.section5 img {
    width: 100%;
    height: 850px;
}

.section5 .text {
    position: absolute;
    top:350%;
    /* height:800px ; */
    width: 830px;
    color: white;
    font-family: 'Verdana';
    /* background-color: rgb(0, 0, 0); */

}

.section5 .text h1 {
    font-size: 40PX;
    width: 90%;
    padding-top: 50px;
    padding-bottom: 30px;
    margin-left: 10%;
    /* border: 2px solid red; */
    margin-right: 10%;
    font-weight: 10;

}

.section5 .text p {
    font-size: 20PX;
    padding: 20px 0px 10px 0px;
    margin-left: 10%;
    margin-right: 10%;
    font-weight:100;
    /* border: 2px solid red; */


}

.section5 .text button {
    background-color: rgb(48, 131, 163);
    color: white;
    border: none;
    padding: 20PX 55PX;
    margin-left: 10%;
    border-radius: 5px;

    /* border: 2px solid red; */


}
.section5 .text button:hover {
    background-color: rgb(52, 149, 187);
    cursor: pointer;
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    

}
/* ....................... end............................................ */





/* .....................................footer.................................. */

.section6{
    position: relative;
    width: 100%;
    background-color: rgb(36, 36, 36);
    margin-top: -10%;
    height: 200px;
    
}
.section6 .img img{
    /* justify-content: center; */
    height: 30px;
    margin-left: 46%;
    /* border: 2px solid red; */
    margin-top: 30px;

}


.section6 .text ul {
    list-style: none;
    display: flex;
    width: 100%;
    text-align: end;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 20px;
    text-align: center;
    /* border: 2px solid red; */
    justify-content: center;
}

.section6 .text ul li a {
    text-decoration: none;
    color: rgb(29, 104, 148);

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 22px 15px 27px 15px;
    text-align: center;
    margin-top: 20px;
    /* border: 2px solid red; */

}

.section6  p {
    text-decoration: none;
    color:gray;

    /* font-size: 18px; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 22px 15px 27px 15px;
    text-align: center;
    /* border: 2px solid red; */

}


/* ....................... end............................................ */
